body {
	background-color: rgb(241, 241, 241);
	font-family: 'Roboto', sans-serif;
	margin: 0;
}

.navbar {
	padding: 15px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: white;
}

.navbar .navbar-title {
	font-weight: bold;
	font-size: 25px;
}

.navbar-menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.navbar-menu ul {
	display: flex;
	list-style: none;
}

.navbar-menu ul li {
	margin: 0px 5px;
}

.header {
	height: 400px;
	background-image: url(https://images.pexels.com/photos/1229861/pexels-photo-1229861.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
}

.header div {
	font-size: 30px;
	font-size: bold;
	background-color: white;
	padding: 20px 40px;
}

.cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.card {
	margin: 30px;
	width: 250px;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.10);
	transition: 0.2s;
}

.card:hover {
	box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.10);
}

.card .card-header img {
	width: 100%;
}

.card .card-body {
	text-align: center;
	padding: 15px 25px;
	background-color: white;
}

.card .card-body .card-content h1 {
	font-size: 20px;
	margin: 0;
}

.card .card-body .card-content h2 {
	margin-top: 5px;
	font-size: 12px;
	font-weight: 100;
	color: gray;
}

.card .card-body .card-content p {
	font-size: 12px;
}

.card .card-footer {
	display: flex;
	justify-content: space-between;
	font-size: 12px;
	color: grey;
}

.card .card-footer a {
	text-decoration: none;
	color: grey;
}

footer {
	margin: 10px;
	text-align: center;
	font-size: 12px;
	color: grey;
}

footer a {
	text-decoration: none;
	cursor: pointer;
	color: grey;
}
